<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script type="text/javascript">
    liff.init(
      function(data){
          liff.closeWindow();
      },
      function(error){
      }
    );
    </script>
  </body>
</html>