<!DOCTYPE html>
<html ng-app="foodcourt">
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth.css" />
    </head>
    <body ng-controller="rootCtl">
        <div id="firebaseui-auth-container"></div>

        <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/ui/3.4.1/firebase-ui-auth__ja.js"></script>
        <script type="text/javascript" src="/js/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-animate.min.js"></script>
        <script type="text/javascript" src="/js/module.js"></script>
        <script type="text/javascript" src="/js/login_ctl.js"></script>
        <script>
            angular.module("foodcourt")
            .constant("GOOGLE_PROJECT_ID", "<%= google_project_id %>")
            .constant("FIREBASE_API_KEY", "<%= firebase_api_key %>")
            .constant("FIREBASE_MESSAGING_SENDER_ID", "<%= firebase_messaging_sender_id %>")
            .constant("RESTAURANTE_ID", "<%= restaurante_id %>");
        </script>
    </body>
</html>
