<!DOCTYPE html>
<html>
  <head>
    <title>Checkout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <script type="text/javascript">
      var api_key = "<%= api_key %>";
      var session_id = "<%= session_id %>";
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="/js/stripe.js"></script>
  </body>
</html>